{% extends 'base.html' %}
<header>
  <nav class="header-nav">
    <ul class="header-menu">
      <li class="logo"><a href="{{ url_for('index') }}" title="homepage">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="ProsePal logo" id="logo">
      </a></li>
      <li class="header-list"><a href="{{ url_for('lorebinder') if user.is_authenticated else url_for('index') }}">LoreBinders</a></li>
      <li class="dropdown header-list"><a href="#">Free Tools</a>
        <ul class="dropdown-content">
          <li class="dropdown-item"><a href="{{ url_for('finetune') }}">GPT 3.5 Finetuner</a></li>
          <li class="dropdown-item sub"><a href="{{ url_for('finetune_instructions') }}">Instructions</a></li>
          <li class="dropdown-item"><a href="{{ url_for('convert_ebook') }}">Convert-ebook</a></li>
        </ul>
      </li>
      {% if user.is_authenticated %}
        <li class="dropdown header-right" id="account"><a href="{{ url_for('profile') }}">Account</a>
          <ul class="dropdown-content last">
            <li class="dropdown-item account"><a href="{{ url_for('profile') }}">Profile</a></li>
            <li class="dropdown-item account"><a href="{{ url_for('buy_credits') }}">Buy Credits</a></li>
            <li class="dropdown-item account"><a href="{{ url_for('view_binders') }}">Past Purchases</a></li>
            <li class="credit-item"><p class="credits">Credits: {{ user.credits_available }}</p></li>
            <li class="dropdown-item account"><a href="{{ url_for('logout') }}">Logout</a></li>
          </ul>
        </li>
      {% else %}
        <li class="header-list header-right"><a href="{{ url_for('signup') }}">Sign Up</a></li>
      {% endif %}
      <li class="header-right toggle">
        <div id="toggle">
          <p id="toggleLabel">Dark mode</p>
          <label class="switch">
            <input type="checkbox" id="darkModeToggle" aria-label="Enable dark mode">
            <span class="slider round"></span>
          </label>
        </div>
      </li>
    </ul>
  </nav>
</header>
