<form id="ml-join-waitlist-form" class="ml-subscribe-container" action="{{ url_for('mailerlite.waitlist_form_view') }}">
  {{ form.hidden_tag()}}
  {{ form.email.label(class="ml-subscribe-label") }}
  {{ form.email(class="ml-subscribe-input") }}
  {% if form.email.description %}
    <small class="help-text">{{ form.email.description }}</small>
  {% endif %}
  {% if form.email.errors %}
    {% for error in form.email.errors %}
      <div class="error">{{ error }}</div>
    {% endfor %}
  {% endif %}
  <input type="submit" value="Subscribe" class="ml-subscribe-button">
  <p>You can unsubscribe anytime. For more details, review our <a href="{{url_for("core.privacy_page") }}" target="_blank">Privacy Policy</a>.</p>
</form>