header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  position: relative;
  max-width: 95%;
}

#logo {
  height: 64px;
  width: 64px;
  margin: auto;
} 
/* Toggle Switch */
#toggle {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  padding: 15px 0;
}
#toggle p {
  margin: 0;
  padding-right: 10px; 
}
.switch {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 60px;
  height: 34px;
  padding-bottom: 0;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #070307;
  box-shadow: inset 0 0 3px #c2ccd6;
}
input:checked + .slider:before {
  background: radial-gradient(circle at 50% 50%, #dbe1e7, #8599ad);
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
input:not(:checked) + .slider {
  background-color: #c2ccd6;
  box-shadow: 0 0 3px #1d0b1a;
}
input:not(:checked) + .slider:before {
  background: radial-gradient(circle at 50% 50%, #1d0b1a, #2c2941);
} 
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
main {
  max-width: 95%;
  padding-left: auto;

}

/* Dark Mode and Light Mode */
body.dark-mode {
  background: linear-gradient(0deg, #251126, #1c0b19);
  background-attachment: fixed;
  color: #DBE1E7;
}
body.light-mode {
  background: radial-gradient(circle at 40% 40%, #d7e1e9, #dbe1e7);
  background-attachment: fixed;
  color: #1C0B19;
  
}
a {
  transition: color 0.3s ease;
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: darkgreen;
}
#button:hover {
  background-color: #45b635;
}

button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow:  0 0 3px 1px #1C0B19;
  display: block;
  text-align: center;
  width: auto;
  margin: auto;
  text-transform: uppercase;
  background-color: #61b24f;
}

button:hover {
  background-color: #45b635;
}

footer {
  display: block;
  text-align: center;
  font-size: .75rem;
  text-align: center;
  padding: 15px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
footer.light-mode {
  background-color: #DBE1E7;
  color: #3F5C7D;
}
footer.dark-mode {
  background: linear-gradient(0deg, #1c0b19, #2c2941);
  color: #DBE1E7;
}

body, button {
  font-family: 'Exo', sans-serif;
  font-size: 18px;
  padding-bottom: 6px;
}

main {
  margin: 0 auto;
}

.section {
  margin-top: 5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text-box {
  flex: 2;
  padding: 20px;
}

.image-box {
  flex: 1.5;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  margin-top: 30px;
}
h1 {
  font-family: 'Share Tech', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  margin-bottom: 25px;
  margin-top: 25px;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
  opacity: .8;
}

p {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 10px;
  max-width: 600px;
}

.hero, .solution, .features, .call-to-action {
  background: linear-gradient(0deg, #bbe5ed, #dbe1e7);
  position: relative;
  background-size: cover;
  background-position: center;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;

  box-sizing:border-box;
  border-radius: 4px;
  box-shadow: inset 0 0 0.5px 1px rgba(219, 225, 231, 0.1),
  0 0 0 1px rgba(44, 11, 25, 0.075),
  0 0.3px 0.4px rgba(44, 11, 25, 0.02),
  0 0.9px 1.5px rgba(44, 11, 25, 0.045),
  0 3.5px 6px rgba(44, 11, 25, 0.09) !important;
}

body.dark-mode .hero, .solution, .features, .call-to-action {
  background: linear-gradient(180deg, #2a4969, #1c0b19);;
}

.problem, .anticipation {
  position: relative;
  background-size: cover;
  background-position: center;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}


.feature {
  background: #DBE1E7; /* Light background for the feature cards */
  color: #1C0B19;
  margin: 20px;
  padding: 20px;
  padding-bottom: 10px;
  border-radius: 8px;
  transition: transform 0.3s ease;
  box-shadow: inset 0 0 0.5px 1px rgba(219, 225, 231, 0.1),
  0 0 0 1px rgba(44, 11, 25, 0.075),
  0 0.3px 0.4px rgba(44, 11, 25, 0.02),
  0 0.9px 1.5px rgba(44, 11, 25, 0.045),
  0 3.5px 6px rgba(44, 11, 25, 0.09) !important;
}
h1 .feature {
  color: #DBE1E7;
}
body.dark-mode .feature{
  background: #1C0B19;
  color: #DBE1E7
}

.feature:hover {
  transform: translateY(-5px);
}

body.dark-mode .hero::after, .features::after, .call-to-action::after {
  background: #bbe5ed;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header, .hero, .features, .call-to-action {
    padding: 20px;
  }
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .header, .hero, .features, .call-to-action {
    padding: 20px;
  }

  .feature {
    margin: 10px;
  }
}