/* Global */
h3 {
  font-family: Raleway;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: .1rem;
  opacity: .95;
}
.h3-num {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: -.1rem;
}
.form-grid {
  display: block;
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
}

/* Sidebar */
.sidebar {
  position: fixed;
  width: 150px;
  height: 100vh;
  padding: 10px;
  padding-top: calc(10%);
}
.sidebar-nav {
  margin-left: -20px;
}

.account-header {
  margin-top: 4em;
}

.sidebar-nav li {
  font-size: 1.25rem;
  line-height: 26px;
}

/* Profile */
#profile {
  display: block;
}

#update-password-form,
#account-management-form {
  width: 600px;
  margin: auto;
  padding: 20px;
}

/* Buy credits */
.slider-container {
  padding: 20px;
  text-align: center;
  width: 300px;
  margin: auto;
}

#credits-value {
  display: block;
}

#price {
  margin-top: 10px; /* Space between the slider and the price */
}
