/* Instructions */
#closing {
  margin-top: 50px;
}

.video iframe {
  width: 560px;
  height: 315px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .video iframe {
    width: 90%;
    height: 56.25vw;
  }
}