{% extends 'normal-base' %}

{% block title %}Thank you for your order{% endblock %}

{% block extra_js %}
  <script src="https://js.stripe.com/v3/"></script>
  <script src="{{ url_for('static', filename='return.js') }}" defer></script>
{% endblock %}

{% block content %}
<section id="success" class="hidden">
  <p>We appreciate your business! A confirmation email will be sent to <span id="customer-email"></span>. You know have {{ user.credits_available }} credits.
  </p>
  <p>Get started on a <a href="{{ url_for('lorebinder_form_view')}}" title="Start lorebinder">Lorebinder</a> now.</p>
</section>
{% endblock %}