<header>
  <nav class="header-nav">
    <div class="tab first" id="lorebinder">
      <a href="{{ url_for('binders.lorebinder_form_view') if g.user else url_for('core.landing_page') }}" title="Start LoreBinder">
        <span class="material-symbols-outlined">auto_stories</span>
        <h6>Lorebinder</h6>
      </a>
    </div>
    <div class="tab" id="free">
    <a href="{{ url_for('free.free_page') }}" title="Free tools">
      <span class="material-symbols-outlined">featured_seasonal_and_gifts</span>
      <h6>Free tools</h6>
    </a>
    </div>
    <div class="tab" id="mobile-toggle">
      <span class="material-symbols-outlined" id="darkModeToggle" aria-label="Enable dark mode">dark_mode</span>
      <h6 id="toggleLabel">Dark mode</h6>
    </div>
    {% if g.user %}
      <div class="tab" id="account-menu">
          <div class="icon-with-badge">
            <span class="material-symbols-outlined">account_circle</span>
            <span class="credit-ticker">{{ g.user.credits_available }}</span>
            <h6>Account</h6>
          </div>
          <ul class="mobile-dropdown hidden" id="dropdown">
            <li class="mobile-dropdown-item account">
              <a href="{{ url_for('accounts.profile_view') }}" title="Profile">Profile</a>
            </li>
            <li class="mobile-dropdown-item account">
              <a href="{{ url_for('accounts.buy_credits_view') }}" title="Buy Credits">Buy Credits</a>
            </li>
            <li class="mobile-dropdown-item account">
              <a href="{{ url_for('accounts.view_binders_view') }}" title="Past purchases">Past Purchases</a>
            </li>
            <li class="mobile-dropdown-item account">
              <a href="{{ url_for('accounts.logout_view') }}" title="Log out">Logout</a>
            </li>
          </ul>
      </div>
    {% else %}
      <div class="tab last">
        <a href="{{ url_for('accounts.signup_view') }}">
          <span class="material-symbols-outlined" id="signup">login</span>
          <h6>Signup</h6>
        </a>
      </div>
    {% endif %}
  </nav>
</header>
