{% extends 'password-base.html' %}

{% block title %}ProsePal's GPT 3.5 Finetuner{% endblock %}

{% block extra_js %}
  <script src="{{ url_for('static', filename='js/finetuner.js') }}"></script>
  <script src="{{ url_for('static', filename='js/invalid-input.js') }}"></script>
  <script src="{{ url_for('static', filename='js/changePlaceholder.js') }}"></script>
  
  <script src="{{ url_for('static', filename='js/visToggle.js') }}"></script>
{% endblock extra_js %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="flash-modal">
      <span class="material-symbols-outlined close-icon">close</span>
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
{% endif %}
{% endwith %}
  <div class="box hidden" id="status" role="status updates" aria-label="Status Updates">
    <h2>Fine tuning status:</h2>
    <p id="statusMessage"></p>
  </div>
  <div id="errorModal" class="error-modal" aria-labelledby="modalTitle" aria-describedby="errorMessage">
      <span class="material-symbols-outlined close-icon">
        close
        </span>
        <h2 class="error-modal-title"><span class="material-symbols-outlined err-circle">
          error
          </span>Error</h2>
        <p id="errorMessage"></p>
  </div>

  <form class="box" method="POST" enctype="multipart/form-data" role="main" action="{{url_for('free.finetune')}}">
    {{ form.hidden_tag() }}
    <div class="opening-info">
        <p class="info-link"><a href="{{ url_for('free.finetune_instructions') }}" target="_blank" aria-label="Read detailed instructions">Instructions</a></p>
        <p class="info-link"><a href="https://platform.openai.com/api-keys" target="_blank" rel="noopener" title="OpenAI API keys" aria-label="Get API key from OpenAI">Get API key from OpenAI</a></p>
    </div>
    <div class="flex-form" id="key">
        {{ form.user_key.label(class="input-label") }}
        <div class="password-container">
          {{ form.user_key(id="user_key", class="password-input", size=60) }}
          <span class="material-symbols-outlined" id="eye">visibility</span>
        </div>
    </div>
    
        <p class="info-link" id="convert-link"><a href="{{ url_for('free.convert_ebook') }}" target="_blank">Convert your ebooks here</a></p>
    <div class="flex-form" id="upload">
        {{ form.file.label(class="input-label") }}
        {{ form.file(id="file", multiple=true, accept="text/plain") }}
    </div>
    <div id="sys_role">
        {{ form.role.label(id="roleLabel") }}
        {{ form.role(id="role", rows=5) }}
    </div>
    <div id="chunk" class="flex-form">
        {{ form.chunk_type.label(class="input-label") }}
        {{ form.chunk_type(id="chunk_type") }}
    </div>
    <div id="checkboxes">
        <div id="rights">
            {{ form.rights_confirmation(id="rights_confirmation") }}
            {{ form.rights_confirmation.label }}
        </div>
        <div id="terms">
            {{ form.terms_agreement(id="terms_agreement") }}
            <label for="terms_agreement" class="terms_agreement_label">I agree to the <a href="{{ url_for('core.terms_page') }}" target="_blank">terms and conditions</a></label>
        </div>
    </div>
    {{ form.submit(class_="btn btn-primary") }}
  </form> 
{% endblock %}

{% block footer %}

  <div>
    © <a href="https://prosepal.io" target="_blank" rel="noopener">ProsePal</a>
    <span> | </span>
    <a href="https://github.com/ashrobertsdragon/Finetune-GPT-3.5-for-Authors">Code available on GitHub under MIT License</a>
    <span> | </span>
    <a href="{{ url_for('core.terms_page') }}" title="Terms of service" target="_blank">Terms and Conditions</a>
    <span> | </span>
    <a href="{{ url_for('core.privacy_page') }}" title="Privacy policy" target="_blank">Privacy Policy</a>
  </div>
{% endblock %}
