{% extends 'forms-base.html' %}

{% block title %}ProsePal's GPT 3.5 Finetuner{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock extra_css %}
{% block extra_js %}
  <script src="{% static 'js/finetuner.js' %}"></script>
  <script src="{% static 'js/invalid-input.js' %}"></script>
{% endblock extra_js %}

{% block content %}
  <div class="box hidden" id="status" role="status updates" aria-label="Status Updates">
    <h2>Fine tuning status:</h2>
    <p id="statusMessage"></p>
  </div>
  <div id="errorModal" class="modal" aria-labelledby="modalTitle" aria-describedby="errorMessage">
    <div class="modal-content">
        <span class="close role="button" tabindex="0">&times;</span>
        <h2 id="modalTitle">Error Message</h2>
        <p id="errorMessage"></p>
    </div>
  </div>
  <form class="box" method="POST" enctype="multipart/form-data" role="main">
    {{ form.hidden_tag() }}
    <div class="opening-info">
        <p class="info-link"><a href="{{ url_for('instructions') }}" target="_blank" aria-label="Read detailed instructions">Instructions</a></p>
        <p class="info-link"><a href="https://platform.openai.com/api-keys" target="_blank" rel="noopener" title="OpenAI API keys" aria-label="Get API key from OpenAI">Get API key from OpenAI</a></p>
    </div>
    <div id="key">
        {{ form.user_key.label }}
        {{ form.user_key(id="user_key", class_="form-control") }}
        <button id="showButton" type="button" onclick="toggleVisibility()" aria-label="Show or hide API key text"><img id="visibilityImage" src="{{ url_for('static', filename='icons/visibility.png') }}" alt="show key"></button>
    </div>
    <div id="upload">
        <p class="info-link" id="convert-link"><a href="{{ url_for('convert_ebook') }}" target="_blank">Convert your ebooks here</a></p>
        {{ form.file.label }}
        {{ form.file(id="file", class_="form-control", multiple=true, accept="text/plain") }}
    </div>
    <div id="sys_role">
        {{ form.role.label(id="roleLabel") }}
        {{ form.role(id="role", class_="form-control", rows=5) }}
    </div>
    <div id="chunk">
        {{ form.chunk_type.label }}
        {{ form.chunk_type(id="chunk_type", class_="form-control") }}
    </div>
    <div id="checkboxes">
        <div id="rights">
            {{ form.rights_confirmation(id="rights_confirmation") }}
            {{ form.rights_confirmation.label }}
        </div>
        <div id="terms">
            {{ form.terms_agreement(id="terms_agreement") }}
            <label for="terms_agreement">I agree to the <a href="{{ url_for('terms_page') }}" target="_blank">terms and conditions</a></label>
        </div>
    </div>
    {{ form.submit(class_="btn btn-primary") }}
  </form> 
{% endblock %}

{% block footer %}
  {% include 'finetune-footer.html' %}
{% endblock footer %}
{% block end_js %}
  <script src="{% static 'js/visToggle.js' %}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var selectElement = document.getElementById('id_chunk_type');
      selectElement.addEventListener('change', function() {
        // Check if the current value is not the placeholder
        if(this.value !== '') {
          // Disable or remove the placeholder option
          this.options[0].disabled = true;
        }
      });
    });
    </script>
    
{% endblock end_js %}