{% extends 'normal-base.html' %}
{% block title %}Free Tools by ProsePal{% endblock %}
{% block content %}
  <h1>Free Tools by ProsePal</h1>
  <div class="free-list-container">
  <ul class="free-list">
    <li class="free-item"><a href="{{ url_for('free.finetune') }}">GPT 3.5 Finetuner</a></li>
    <li class="nested-list"><ul class="nested-list">
    <li class="free-item sub-item"><a href="{{ url_for('free.finetune_instructions') }}">Fintuner instructions</a></li>
    </ul></li>
    <li class="free-item"><a href="{{ url_for('free.convert_ebook') }}">Convert ebook</a></li>
  </ul>
  </div>
{% endblock %}