/* Dark Mode and Light Mode */
body.dark-mode {
    background-color: midnightblue;
    color: gainsboro;
}
body.light-mode {
    background-color: gainsboro;
    color: midnightblue;
}

/* Toggle Switch */
.switch {
  position: absolute;
  top: 10px;
  left: 10px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.switch {
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch span {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}
.switch span:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* General Styling */
body, button, input, select, textarea {
    font-family: 'Roboto', sans-serif;
}
input, select, textarea {
    font-family: 'Lato', sans-serif;
}
button {
    background-color: forestgreen;
    color: gainsboro;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
button:hover {
    background-color: darkgreen;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
