<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NFEC3743TH"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-NFEC3743TH');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
  <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', finetune='js/dark-mode.js') }}"></script>
</head>
<body>
  <div class="header">
    <div id="logo">Logo</div>
    <div id="toggle">
      <p>Dark Mode</p>
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>
  </div>

  <div class="contact-form">
    <h1>Contact Us</h1>
      <form action="/send-email" method="post">
        <label for="name">Your Name:</label>
          <input type="text" id="name" name="name" required>

          <label for="email">Your Email:</label>
          <input type="text" id="email" name="email" required>

          <label for="message">Your Message:</label>
          <textarea id="message" name="message" required></textarea>

          <input type="submit" value="Send Message">
      </form>
  </div>

  <footer>
    &copy; 2024 ProsePal
  </footer>
</body>
</html>
