<!DOCTYPE html>
<html>
<head>
  <title>Convert Ebook to Text</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="form-container">
    <div class="header">
      <img src="static/logo.png" alt="ProsePal logo" id="logo">
      <div id="toggle">
        <p>Dark mode</p>
        <label class="switch">
          <input type="checkbox" id="darkModeToggle">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <form id="conversionForm" action="{{ url_for('convert_ebook') }}" method="post" enctype="multipart/form-data">
      <div class="form" id="upload">
        <label for="ebook">Upload ebook (must be epub, pdf, docx, or text file)</label>
        <input id="file-upload" type="file" name="ebook" accept=".epub,pdf,docx,txt">
      </div>
      <div class="form" id=""metadata">
        <div class="metadata" id="title">
          <label for="title">Title:</label>
          <input type="text" name="title">
        </div>
        <div class="metadata" id="author">
          <label for="author">Author:</label>
          <input type="text" name="author"><br>
        </div>
      </div>
      <div class="form" id="checkboxes">
        <div id="rights">
          <input type="checkbox" id="rights_confirmation" name="rights_confirmation" required>
          <label for="rights_confirmation">I confirm that I have the rights to these files</label>
        </div>
        <div id="terms">
          <input type="checkbox" id="terms_agreement" name="terms_agreement" required>
          <label for="terms_agreement">I agree to the  <a href="/terms" target="_blank">terms and conditions</a></label>
        </div>
      <input type="submit" value="Convert">
    </form>
    <div id="loadingMessage" style="display: none;">Converting file, please wait...</div>
  </div>
  <footer style="bottom: 0; width: 100%; text-align: center; padding: 10px">
    <div>
      © <a href="https://prosepal.io" target="_blank">ProsePal</a>
      <span> | </span>
      <a href ="https://github.com/ashrobertsdragon/convert_ebook_files">Code available on GitHub under MIT License</a>
      <span> | </span>
      <a href="/terms" target="_blank">Terms and Conditions</a>
      <span> | </span>
      <a href="/privacy" target="_blank">Privacy Policy</a>
    </div>
  </footer>
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      const toggleSwitch = document.getElementById('darkModeToggle');
      const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");

      function updateLogo() {
        if (document.body.classList.contains("dark-mode")) {
          logo.src = 'static/logo-dark.png';
        } else {
          logo.src = 'static/logo.png';
        }
      }

      // Set the initial mode
      if (prefersDarkScheme.matches) {
        toggleSwitch.checked = true;
        document.body.classList.add("dark-mode");
        document.body.classList.remove("light-mode");
      } else {
        document.body.classList.add("light-mode");
        document.body.classList.remove("dark-mode");
      }
      updateLogo();

      // Listen for toggle switch
      toggleSwitch.addEventListener('change', () => {
        document.body.classList.toggle("dark-mode");
        document.body.classList.toggle("light-mode");
        updateLogo();
      });
    })

    document.addEventListener('DOMContentLoaded', (event) => {
      const form = document.getElementById('conversionForm');
      const loadingMessage = document.getElementById('loadingMessage');
      const titleField = form.querySelector('input[name="title"]');
      const fileUploader = form.querySelector('input[name="ebook"]');

      form.addEventListener('submit', (e) => {
        loadingMessage.style.display = 'block';

        // Clear specific fields after a short delay to allow form submission
        setTimeout(() => {
          titleField.value = '';
          fileUploader.value = '';
          loadingMessage.style.display = 'none';
        }, 100); // Adjust the delay as needed
      });
    });
  </script>
</body>
</html>
