<!DOCTYPE html>
<html>
<head>
  <title>Fine-tuning GPT-3.5 for Authors</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script>
    function checkStatus(userFolder) {
      fetch(`/status/${userFolder}`)
        .then(response => response.json())
        .then(data => {
          document.getElementById("status").innerText = data.status;
          if (data.status !== "Training complete.") {
            setTimeout(() => checkStatus(userFolder), 1000);
          }
        });
    }

    function showErrorModal() {
      var modal = document.getElementById("errorModal");
      modal.style.display = "block";
      var closeBtn = document.getElementsByClassName("close")[0];
      closeBtn.onclick = function() {
        closeModal();
      }
      window.onclick = function(event) {
        if (event.target == modal) {
          closeModal();
        }
      }
    }

    function closeModal() {
      var modal = document.getElementById("errorModal");
      modal.style.display = "none";
    }
  </script>
</head>
<body class="light-mode">
  <div class="form-container">
    <div class="header">
      <img src="static/logo.png" alt="ProsePal logo" id="logo">
      <div id="toggle">
        <p>Dark mode</p>
        <label class="switch">
          <input type="checkbox" id="darkModeToggle">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    {% if user_folder %}
        <div class="box" id="status">
        <h2>Fine tuning status:</h2>
        <p id="status"></p>
        <script>checkStatus("{{ user_folder }}");</script>
      </div>
    {% else %}
      <div id="errorModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <p id="errorMessage">{{ error_message }}</p>
        </div>
      </div>
      <form class="box" method="POST" enctype="multipart/form-data">
        <p><a href="{{ url_for('instructions') }}" target="_blank">INSTRUCTIONS</a></p>
        <label for="user_key">OpenAI API key:</label>
        <div id="key">
          <input type="password" name="user_key" id="user_key" size="60" maxlength="60" required>
          <button id="showButton" type="button" onclick="toggleVisibility()"><img id="visibilityImage" style="height: 1.2em; width: 1.5em" src="static/visibility.png" alt="show key"></button>
        </div>
        <div id="upload">
          <p><a href="{{ url_for('convert_ebook') }}" target="_blank">Convert your ebooks here</a></p>
          <label for="file">Upload Text File(s) (limit 2MB per file, must be text file with three asterisks *** for chapter breaks):</label>
          <input type="file" name="file" id="file" multiple accept="text/plaint">
        </div>
        <div id="sys_role">
          <label for="role">System message:</label>
          <textarea name="role" id="role" rows=5 required></textarea>
        </div>
        <div id="chunk">
          <label for="chunk_type">Fine tuning method</label>
          <select name="chunk_type" id="chunk_type" required>
            <option value="" disabled selected>Choose one</option>
            <option value="sliding_window_small">Sliding Window (chapter-level)</option>
            <option value="sliding_window_large">Sliding Window (book-level)</option>
            <option value="dialogue_prose">Dialogue/Prose</option>
            <option value="generate_beats">Generate Beats (extra cost)</option>
          </select>
        </div>
        <div id="checkboxes">
          <div id="rights">
            <input type="checkbox" id="rights_confirmation" name="rights_confirmation" required>
            <label for="rights_confirmation">I confirm that I have the rights to these files</label>
          </div>
          <div id="terms">
            <input type="checkbox" id="terms_agreement" name="terms_agreement" required>
            <label for="terms_agreement">I agree to the  <a href="/terms" target="_blank">terms and conditions</a></label>
          </div>
        </div>
        <input type="submit" value="Submit">
        </form>
    {% endif %}
  </div>

  <!-- Footer -->
  <footer style="bottom: 0; width: 100%; text-align: center; padding: 10px">
    <div>
      © <a href="https://prosepal.io" target="_blank">ProsePal</a>
      <span> | </span>
      <a href ="https://github.com/ashrobertsdragon/Finetune-GPT-3.5-for-Authors">Code available on GitHub under MIT License</a>
      <span> | </span>
      <a href="/terms" target="_blank">Terms and Conditions</a>
      <span> | </span>
      <a href="/privacy" target="_blank">Privacy Policy</a>
    </div>
    <div>
      <a href="https://www.flaticon.com/free-icons/hide" target="_blank" title="hide icons">Hide icons created by Google - Flaticon</a>
    </div>
  </footer>
  <script src="{{ url_for('static', filename="dark-mode.js") }}"></script>
  <script>
    function toggleVisibility() {
      var apiKeyInput = document.getElementById("user_key");
      var currentType = apiKeyInput.getAttribute("type");
      apiKeyInput.setAttribute("type", currentType === "password" ? "text" : "password");
      var visibilityImage = document.getElementById("visibilityImage");
      if (currentType === "password") {
    // If the password is visible, set the image to invisible.png
        visibilityImage.src = "static/invisible.png";
        visibilityImage.alt = "hide key"
      } else {
    // If the password is hidden, set the image to visibility.png
        visibilityImage.src = "static/visibility.png";
        visibilityImage.alt = "show key"
      }
    }
  </script>
</body>
</html>
