<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NFEC3743TH"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-NFEC3743TH');
  </script>
  <title>Fine-tuning GPT-3.5 for Authors</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Exo:wght@300;500&family=Raleway:wght@700&family=Share+Tech&family=Source+Sans+3:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="{{ url_for('static', filename="js/dark-mode.js") }}"></script>
  <script>
    function fetchStatusUpdate() {
      if (!continuePolling) {
        return; // Stop the function from running if polling should not continue
      }
      const userFolder = sessionStorage.getItem('userFolder');
      fetch('/status', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ user_folder: userFolder }),
      })
      .then(response => response.json())
      .then(data => {
        document.getElementById("statusMessage").innerHTML = data.status;
        if (!data.status.includes("Download")) { // Check if the status is not the final one
          setTimeout(fetchStatusUpdate, 1000); 
        }
        if (data.status.includes("<img")) { // Clear polling interval when error iamge appears
          continuePolling = False;
        }
      })
      .catch(error => console.error('Error fetching status:', error));
    }
    function showErrorModal() {
      var modal = document.getElementById("errorModal");
      modal.style.display = "block";

      var closeButton = modal.querySelector(".close");
      closeButton.onclick = function() {
        modal.style.display = "none";
      }
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    }

    document.addEventListener("DOMContentLoaded", function() {
      var form = document.querySelector("form.box");
      form.onsubmit = function(e) {
        e.preventDefault();  // Prevent the normal form submission

        var formData = new FormData(form);

        fetch("/finetune", {
          method: "POST",
          body: formData
        })
        .then(response => {
          const contentType = response.headers.get("Content-Type");
          if (!contentType || !contentType.includes("application/json")) {
            throw new Error("Received non-JSON response from server");
          }
          return response.json().then(data => {
            if (!response.ok) {
              throw new Error(data.error || `Server responded with status ${response.status}`);
            }
            return data;  // Proceed with normal processing for successful response
          });
        })
        .then(data => {
          sessionStorage.setItem('userFolder', data.user_folder);
          var statusContainer = document.getElementById("status"); // Get the existing "status" element
          document.querySelector(".form-container form.box").style.display = "none"; // Hide the form
          statusContainer.style.display = "block"; // Show the status container
          var statusMessageElement = statusContainer.querySelector("p#statusMessage");
          statusMessageElement.innerHTML = "Processing...";
          fetchStatusUpdate();
        })
        .catch(error => {
          console.error('Error:', error);
          document.getElementById("errorMessage").innerText = error.message;
          showErrorModal();
        });
      };
    });
  </script>
</head>
<body class="light-mode">
  <div class="form-container">
    <div class="header">
      <a href="/" title="homepage">
        <img src="{{ url_for('static', filename='icons/logo.png') }}" alt="ProsePal logo" id="logo">
      </a>
      <div id="toggle">
        <p id="toggleLabel">Dark mode</p>
        <label class="switch">
          <input type="checkbox" id="darkModeToggle" aria-label="Enable dark mode">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
    <div class="box hidden" id="status" role="status updates" aria-label="Status Updates">
      <h2>Fine tuning status:</h2>
      <p id="statusMessage"></p>
    </div>
    <div id="errorModal" class="modal" aria-labelledby="modalTitle" aria-describedby="errorMessage">
      <div class="modal-content">
        <span class="close role="button" tabindex="0">&times;</span>
        <h2 id="modalTitle">Error Message</h2>
        <p id="errorMessage"></p>
      </div>
    </div>
    <form class="box" method="POST" enctype="multipart/form-data" role=""main">
      <div class="opening-info">
        <p class="info-link"><a href="{{ url_for('instructions') }}" target="_blank" aria-label="Read detailed instructions">Instructions</a></p>
        <p class="info-link"><a href="https://platform.openai.com/api-keys target="_blank" rel="noopener" title="OpenAI API keys" aria-label="Get API key from OpenAI">Get API key from OpenAI</a></p>
      </div>
      <label for="user_key">OpenAI API key:</label>
      <div id="key">
        <input type="password" name="user_key" id="user_key" size="60" maxlength="60" required>
        <button id="showButton" type="button" onclick="toggleVisibility()" aria-label="Show or hide API key text"><img id="visibilityImage" src="{{ url_for('static', filename='icons/visibility.png') }}" alt="show key"></button>
      </div>
      <div id="upload">
        <p class="info-link" id="convert-link"><a href="{{ url_for('convert_ebook') }}" target="_blank">Convert your ebooks here</a></p>
        <label for="file">Upload Text File(s) (limit 2MB per file, must be text file with three asterisks *** for chapter breaks):</label>
        <input type="file" name="file" id="file" multiple accept="text/plain" aria-label="Upload text files for processing">
      </div>
      <div id="sys_role" aria-labelledby="roleLabel">
        <label for="role" id="roleLabel">System message:</label>
        <textarea name="role" id="role" rows=5 required></textarea>
      </div>
      <div id="chunk">
        <label for="chunk_type" aria-label="Select a fine tuning method">Fine tuning method</label>
        <select name="chunk_type" id="chunk_type" required>
          <option value="" disabled selected>Choose one</option>
          <option value="sliding_window_small">Sliding Window (chapter-level)</option>
          <option value="sliding_window_large">Sliding Window (book-level)</option>
          <option value="dialogue_prose">Dialogue/Prose</option>
          <option value="generate_beats">Generate Beats (extra cost)</option>
        </select>
      </div>
      <div id="checkboxes">
        <div id="rights">
          <input type="checkbox" id="rights_confirmation" name="rights_confirmation" required aria-labelledby="rightsLabel">
          <label for="rights_confirmation" id="rightsLabel">I confirm that I have the rights to these files</label>
        </div>
        <div id="terms">
          <input type="checkbox" id="terms_agreement" name="terms_agreement" required aria-labelledby="termsLabel">
          <label for="terms_agreement" id="termsLabel">I agree to the  <a href="/terms" target="_blank">terms and conditions</a></label>
        </div>
      </div>
      <input type="submit" value="Finetune GPT-3.5" aria-label="Submit form for finetuning">
      </form>
  </div>

  <footer>
    <nav aria-label="External Links">
      <div>
        © <a href="https://prosepal.io" rel="noopener" target="_blank" title="ProsePal homepage">ProsePal</a>
        <span> | </span>
        <a href ="https://github.com/ashrobertsdragon/Finetune-GPT-3.5-for-Authors" rel="noopener" targer="_blank" title="GitHub code repository for Finetuning GPT-3.5 for Authors">Code available on GitHub under MIT License</a>
        <span> | </span>
        <a href="{{ url_for('static', filename='html/terms.html') }}" target="_blank" title="Terms and Conditions">Terms and Conditions</a>
        <span> | </span>
        <a href="{{ url_for('static', filename='html/privacy.html') }}" target="_blank" title="Privacy Policy">Privacy Policy</a>
      </div>
      <div>
        <a href="https://www.flaticon.com/free-icons/hide" rel="noopener" target="_blank" title="icons attribution">Icons created by Google - Flaticon</a>
      </div>
    </nav>
  </footer>
  <script>
    function toggleVisibility() {
      var apiKeyInput = document.getElementById("user_key");
      var currentType = apiKeyInput.getAttribute("type");
      apiKeyInput.setAttribute("type", currentType === "password" ? "text" : "password");
      var visibilityImage = document.getElementById("visibilityImage");
      if (currentType === "password") {
    // If the password is visible, set the image to invisible.png
        visibilityImage.src = "static/icons/invisible.png";
        visibilityImage.alt = "hide key"
      } else {
    // If the password is hidden, set the image to visibility.png
        visibilityImage.src = "static/icons/visibility.png";
        visibilityImage.alt = "show key"
      }
    }
  </script>
</body>
</html>
