{% extends 'normal-base.html' %}

{% block title %}Account Management{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
{% endblock %}
S
{% block content %}
  <div class="sidebar">
    <ul class="sidebar-nav">
      <li>
        <a href="{{ url_for('accounts.account_view', section='profile') }}">Profile</a>
      </li>
      <li>
        <a href="{{ url_for('accounts.account_view', section='view-binders') }}">View Binders</a>
      </li>
      <li>
        <a href="{{ url_for('accounts.account_view', section='buy-credits') }}">Buy Credits</a>
      </li>
    <ul>
  </div>
  {% if section == 'profile' %}
  <div data-section="profile" id="profile">
    {% include 'accounts/profile.html' %}
  </div>
{% endif %}

{% if section == 'view-binders' %}
  <div data-section="view-binders" id="binder-view">
    {% include 'accounts/view-binders.html' %}
  </div>
{% endif %}

{% if section == 'buy-credits' %}
  <div data-section="buy-credits" id="credit-slider">
    {% include 'accounts/buy-credits.html' %}
  </div>
{% endif %}

{% endblock %}

{% block end_js %}
  <script src="{{ url_for('static', filename='js/visToggle.js') }}"></script>
  <script src="{{ url_for('static', filename='js/purchase-slider.js')}}"></script>
{% endblock %}
