{% extends 'base.html' %}

{% block title %}Account Management{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">
{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='js/dark-mode.js') }}"></script>
{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
<div data-section="profile" class="profile hidden">
  {% include 'profile.html' %}
</div>
<div data-section="view-binders" class="view_lorebinders hidden">
  {% include 'view-binders.html' %}
</div>
<div data-section="buy-credits" class="buy_credits hidden">
  {% include 'buy-credits.html' %}
</div>
{% endblock content %}

{% block end_js %}
<script src="{{ url_for('static', filename='js/visToggle.js') }}"></script>
{% endblock end_js %}
