{% extends 'accounts/account.html' %}
{% block content %}
    <h2>Buy Credits</h2>
    <div class="slider-container">
      <form method="POST" action="{{ url_for('accounts.buy_credits_view') }}">
        {{ form_csrf_token() }}
        <label for="credits">Credits: <span id="credits-value">1</span></label>
        <input type="range" id="credits" name="credits" min="1" max="10" value="{{ form.get('credits', '') }}">
        <div id="price">Price: $10</div>
      </form>
    </div>
{% endblock %}