{% extends 'forms-base' %}
{% block title %}Forgot Password{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock extra_css %}

{% block content %}
<h1>Reset password</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
<form method="POST" class="form box" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.email.label }} {{ form.email(class_="form-control metadata") }}
    <span class="text-muted">{{ form.email.errors }}</span>
  </div>
{% endblock %}