{% extends 'forms-base.html' %}
{% block title %}Forgot Password{% endblock %}

{% block content %}
<h1>Reset password</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <script src="{{ url_for('static', filename='js/closeModal.js') }}"></script>
  <div class="flash-modal">
        <span class="material-symbols-outlined close-icon">
          close
          </span>
        <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}
<form method="POST" class="form box" enctype="multipart/form-data">
  {{ form.csrf_token }}
  <div class="forgot-email-container">
    {{ form.email.label(class_="forgot-email-label") }}
    {{ form.email(class_="forgot-email-input") }}
    {% if form.email.errors %}
      {% for error in form.email.errors %}
        <div class="error">{{ error }}</div>
      {% endfor %}
    {% endif %}

  </div>
  <input type="submit" value="Reset password" class="btn btn-primary">
{% endblock %}