{% extends 'forms-base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock extra_css %}

{% block content %}
<h1>Reset password</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
  {% endwith %}
<form method="POST" class="form box" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="forgot-email-container">
    {{ form.email.label(class_="forgot-email-label") }}
    {{ form.email(class_="forgot-email-input") }}
    {% if form.email.errors %}
      {% for error in form.email.errors %}
        <div class="error">{{ error }}</div>
      {% endfor %}
    {% endif %}

  </div>
  <input type="submit" value="Reset password" class="btn btn-primary">
{% endblock %}