{% extends "forms-base.html" %}

{% block title %}Login{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock extra_css %}

{% block content %}
    <div class="form box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form id="login-form" class="form" method="post" action="{{ url_for('accounts.login_view') }}">
            {{ form.hidden_tag() }}
            <h1 class="content-title">Login</h1>
            <div class="input-boxes">
                <!-- Email Field -->
                <div class="flex-form" id="div-id_email">
                    {{ form.email.label(class="input-label") }}
                    {{ form.email(size=20) }}
                    {% if form.email.description %}
                        <small class="help-text">{{ form.email.description }}</small>
                    {% endif %}
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <div class="error">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <!-- Password Field -->
                <div class="flex-form" id="div-id_password">
                    {{ form.password.label(class="input-label") }}
                    <div class="password-container">
                        {{ form.password(size=20, class="password-input") }}
                        <span class="material-symbols-outlined" id="eye" onclick="toggleVisibility()">visibility</span>
                    </div>
                    {% if form.password.description %}
                        <small class="help-text">{{ form.password.description }}</small>
                    {% endif %}
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <div class="error">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <input type="submit" value="Login" class="btn btn-primary">
        </form>
        <div class="forgot-password">
          <p><a href="{{ url_for('accounts.forgot_password_view')}}" title="Forgot password">Forgot password?</a></p>
        </div>
        <div class="switch-auth">
            Don't have an account? <a href="{{ url_for('accounts.signup_view') }}" id="signup-link" class="auth-switch-link">Sign Up</a>
        </div>
    </div>
{% endblock content %}

{% block footer %}

{% endblock footer %}

{% block end_js %}
    <script src="{{ url_for('static', filename='js/visToggle.js') }}"></script>
{% endblock end_js %}