{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
  <script src="{{ url_for('static', filename='js/closeModal.js') }}"></script>
  <div class="flash-modal">
    <span class="material-symbols-outlined close-icon">
      close
      </span>
    <ul class="flashes">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    </ul>
  </div>
{% endif %}
{% endwith %}
    <h1>Profile</h1>
    <div class="form-grid" id="div-id_account">
      
    <form method="post" class="box" id="account-management-form" action="{{ url_for('accounts.profile_view') }}">
      <h2>Update Profile</h2>
        {{ account_form.hidden_tag() }}
        <div class="flex-form">
            {{ account_form.email.label(class="input-label") }}
            {{ account_form.email(size=20) }}
        </div>
        <div class="flex-form">
            {{ account_form.first_name.label(class="input-label") }}
            {{ account_form.first_name(size=20) }}
        </div>
        <div class="flex-form">
            {{ account_form.last_name.label(class="input-label") }}
            {{ account_form.last_name(size=20) }}
        </div>
        <div class="flex-form">
            {{ account_form.b_day.label(class="input-label") }}
            {{ account_form.b_day(size=20) }}
        </div>
        <input type="submit" value="Update Profile" class="btn btn-primary" />
    </form>
    </div>
    <div class="box form-grid" id="credit-info">
        <h2>Credit Balance: {{ user.credits_available }}</h2>
        <h2>Credits Used: {{ user.credits_used }}</h2>
    </div>
    <!-- Password Field -->
    <div class="form-grid" id="div-id_password">
        
        <form method="POST" class="box" id="update-password-form" action="{{ url_for('accounts.profile_view') }}">
          <h2>Update Password</h2>
          {{ password_form.hidden_tag() }}        
          <div class="flex-form" id="div-id_password">
          {{ password_form.new_password.label(class="input-label") }}
          <div class="password-container">
              {{ password_form.new_password(size=30, class="input-bow") }}
              <span class="material-symbols-outlined" id="eye">visibility</span>
          </div>
          {% if password_form.new_password.description %}
              <small class="help-text">{{ password_form.new_password.description }}</small>
          {% endif %}
          {% if password_form.new_password.errors %}
              {% for error in password_form.new_password.errors %}
                  <div class="error">{{ error }}</div>
              {% endfor %}
          {% endif %}
          </div>
          <input type="submit" value="Change Password" class="btn btn-primary" />
        </form>
    </div>
{% endblock content %}