{% extends 'password-base.html' %}
{% block title %}Forgot Password{% endblock %}


{% block content %}
<h1>Reset password</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
  {% endwith %}
<form method="POST" class="form box" enctype="multipart/form-data">
  {{ form.csrf_token }}
  <!-- Password Field -->
  <div class="flex-form" id="div-id_password">
    {{ form.password.label(class="input-label") }}
    <div class="password-container">
        {{ form.password(size=30, class="input-box") }}
        <span class="material-symbols-outlined" id="eye">visibility</span>
    </div>
    {% if form.password.description %}
        <small class="help-text">{{ form.password.description }}</small>
    {% endif %}
    {% if form.password.errors %}
        {% for error in form.password.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}