{% extends "forms-base.html" %}

{% block title %}Signup{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock extra_css %}

{% block content %}
    <div class="form box">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        <form class="user-form" method="POST" role="main" action="{{ url_for('accounts.signup_view') }}">
            {{ form.hidden_tag() }}
            <h1>Become a Pal to your Prose</h1>
            <div id="required-div">
                <h3 class="required-text">All fields are required.</h3>
            </div>
            <div class="input-boxes">
                <!-- Email Field -->
                <div class="form-grid" id="div-id_email">
                    {{ form.email.label(class="user-input-label") }}
                    {{ form.email(id=form.email.id, class=form.email.css_class) }}
                    {% if form.email.description %}
                        <small class="help-text">{{ form.email.description }}</small>
                    {% endif %}
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <div class="error">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <!-- Password Field -->
                <div class="form-grid" id="div-id_password">
                    {{ form.password.label(class="user-input-label") }}
                    <div class="password-container">
                        {{ form.password(id=form.password.id, class=form.password.css_class) }}
                        <span class="material-symbols-outlined" id="eye" onclick="toggleVisibility()">visibility</span>
                    </div>
                    {% if form.password.description %}
                        <small class="help-text">{{ form.password.description }}</small>
                    {% endif %}
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <div class="error">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div id="checkboxes">
                <div class="check-grid" id="terms">
                    {{ form.terms_agreement(id=form.terms_agreement.id, class=form.terms_agreement.css_class) }}
                    {{ form.terms_agreement.label(class="user-input-label") }}
                </div>
            </div>
            <input type="submit" value="Signup" class="btn btn-primary">
        </form>
        <div class="switch-auth">
            Already have an account? <a href="{{ url_for('accounts.login_view') }}" id="login-link">Login</a>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "normal-footer.html" %}
{% endblock footer %}

{% block end_js %}
    <script src="{{ url_for('static', filename='js/visToggle.js') }}"></script>
{% endblock end_js %}