{% block content %}
    <h1>View Purchased LoreBinders</h1>
    {% if binders_db %}
      {% for binder in binders_db %}
        <div class="row">
          {{ binder.title }} - {{ binder.author }} - {{ binder.signed_url }} - {{ binder.created_on }}
        </div>
      {% endfor %}
    {% else %}
    <div class="box binder-table">
    <p>You have no purchased any LoreBinders yet. <a href="{{ url_for('binders.lorebinder_form_view') }}" title="Start LoreBinder">Get started on your first one now</a></p>
      </div>
  {% endif %}
{% endblock %}
