{% extends 'mailerlite/ml-base.html' %}
{% block ml_title%} Join Waitlist iframe{% endblock %}<

{% block ml_container %}
    
    <div class="ml-subscribe-container">
      <h1>Join the Waitlist</h1>
    <form id="ml-join-waitlist-form" action="{{ url_for('mailerlite.waitlist_form_view') }}" method="post">
      {{ form.csrf_token }}
      {{ form.email.label(class="ml-subscribe-label") }}
      {{ form.email(class="ml-subscribe-input") }}
      {% if form.email.description %}
        <small class="help-text">{{ form.email.description }}</small>
      {% endif %}
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          <div class="error">{{ error }}</div>
        {% endfor %}
      {% endif %}
      {{ form.submit(class="ml-subscribe-button") }}
      <p>You can unsubscribe anytime. For more details, review our <a href="{{url_for("core.privacy_page") }}" target="_blank">Privacy Policy</a>.</p>
    </form>
    </div>
{% endblock %}
