{% extends 'forms-base.html' %}

{% block title %}Contact Us{% endblock %}
{% block extra_js %}
  <script src="{% static, 'js/invalid-input.js'}"></script>
{% endblock extra_js}
{% block content %}
  <h1>Contact Us</h1>
  <p>Please fill out the form below and we will get back to you as soon as possible.</p>

  {% if form.errors %}
  <div class="alert alert-danger" role="alert" aria-live="polite">
    Please correct the errors below.
  </div>
  {% endif %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
  {% endwith %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Send Message</button>
  </form>
{% endblock content %}
